<header class="header">
  <div class="container">
    <a href="">Logo</a>
    <nav class="nav">
      <a class="nav-logo" href="./index.html" aria-label="Site logo">
        <svg class="nav-logo-icon" width="100" height="30">
          <use href="{=$icon-path}"></use>
        </svg>
      </a>
      <ul>
        <li><img src="/img/header/adetayo-adefala-1K2iQQM31D0-unsplash 1.jpg" alt="adetayo" width="150"></li>
        <li><img src="/img/header/andrew-ruiz-fmz-B9At9iQ-unsplash.jpg" alt="andrew" width="150"></li>
        <li><img src="/img/header/bianca-jordan-o7SvheEZoks-unsplash 1.jpg" alt="bianca" width="150"></li>
        <li><img src="/img/header/big-tiny-belly-XtnNrQYC7ts-unsplash 1.jpg" alt="big-tiny" width="150"></li>
      </ul>

    </nav>
  </div>
</header>